* {
  font-family: "Arial", sans-serif;
  margin:0%;
}
  
  
body {
  color: rgb(255, 255, 255);
}

.descobrir {
  background-color: blue;
  min-height: 535px;
  width: 30%;
}

.mostra {

}

.chat {

}

h1 {

  font-size: 32pt;

  font-weight: bold;

}


button {

  background: #e93a3a;

  border: none;

  color: #fff;

  margin: 16px 0;

  padding: 12px 42px;

}